
/*
@media only screen and (max-width: 600px){
  .taco_button {
    position: fixed;
    margin: auto;
    bottom: 0;
  }
} */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');


body {
  background: rgba(244, 244, 244, 0.8);
}

h1, h5, p, button {
  font-family: 'Open Sans' sans-serif;
  color: rgba(0, 0, 0, 0.9);
}

h1 {
  font-weight: bold;
  font-size: 64px;
}

h5 {
  font-weight: 600;
  font-size: 24px;
}

p {
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
}

button {
  font-weight: bold;
  font-size: 17px;
}
